/* Body
-------------------------------------------------- */

body {
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	position: relative;
	padding-top: 130px;
	padding-bottom: 45px;
	background: url(images/bgs/film-70638.jpg) no-repeat center center fixed white;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
body > .navbar {
	font-size: 15px;
}

/* Content
-------------------------------------------------- */
#content, #channel-nav-bar, #channel-actions{
	background-color: #fff;
	border-radius: 4px;
	border: 1px solid #d5d5d5;
	margin-bottom: 20px;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.075);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
	text-align: justify;
}
#channel-nav-bar{
	height: 190px;
}
article, .main {
	padding: 15px;
}


/* Forms
-------------------------------------------------- */
.form-horizontal .control-label {
	width: 110px;
}

.form-horizontal .controls {
	margin-left: 120px;
}

/* Social
-------------------------------------------------- */

#social{
	float: right;
	margin-top: 10px;
}

#social a{
	margin-left: 5px;
}
#social-app{
	float: right;
	margin-top: 10px;
}

#social-app a{
	margin-left: 1px;
}

/* Logo
-------------------------------------------------- */
#logo{
	padding: 5px 0;
}


/* WP-Navbar
-------------------------------------------------- */
body.logged-in{
	top: 28px
}

body.logged-in div.navbar-fixed-top{
	top: 28px
}

/* Code in headings */
h3 code {
	font-size: 14px;
	font-weight: normal;
}

/* qTranslate
-------------------------------------------------- */
.widget_qtranslate{
	float: right;
}
.widget_qtranslate ul li{
	display: block;
	float: left;
	padding: 5px;
}
.qtrans_language_chooser{
	margin: 0;
}
.header-widget{
	margin-top: -25px;
	float: right;
}
/* Header
-------------------------------------------------- */
.top-header{
	background-image: -moz-linear-gradient(top,#fff,#fff);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#fff));
	background-image: -webkit-linear-gradient(top,#fff,#fff);
	background-image: -o-linear-gradient(top,#fff,#fff);
	background-image: linear-gradient(to bottom,#fff,#fff);
	background-color: white;
	/*background: url(images/bg-02.jpg) 20px 30px repeat;*/
}
/* Footer
-------------------------------------------------- */
.footer {
	text-align: center;
	border-top: 1px solid #e5e5e5;
	background-color: white;
}
div.footer{
	margin: 1px 0;
	padding: 10px 0;
}
.footer ul{
	margin: 5px 0;
}
.footer ul li{
	display: inline;
	padding: 10px;
	font-size: 85%;
}
.footer ul li a{
	color: black;
}
.footer p {
	margin-bottom: 0;
	color: #777;
}
#copyright{
	font-size: 70%;
}

/* Images
-------------------------------------------------- */
.alignleft{
	float: left;
	margin: 0 10px 10px 0;
}

.alignright{
	float: right;
	margin: 0 0 10px 10px;
}

/* Special grid styles
-------------------------------------------------- */

.show-grid {
	margin-top: 10px;
	margin-bottom: 20px;
}
.show-grid [class*="span"] {
	background-color: #eee;
	text-align: center;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	min-height: 40px;
	line-height: 40px;
}
.show-grid [class*="span"]:hover {
	background-color: #ddd;
}
.show-grid .show-grid {
	margin-top: 0;
	margin-bottom: 0;
}
.show-grid .show-grid [class*="span"] {
	margin-top: 5px;
}
.show-grid [class*="span"] [class*="span"] {
	background-color: #ccc;
}
.show-grid [class*="span"] [class*="span"] [class*="span"] {
	background-color: #999;
}
/* Misc
-------------------------------------------------- */

/* Make tables spaced out a bit more */
h2 + table,
h3 + table,
h4 + table,
h2 + .row {
	margin-top: 5px;
}

/* Fake the :focus state to demo it */
.focused {
	border-color: rgba(82,168,236,.8);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.1), 0 0 8px rgba(82,168,236,.6);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,.1), 0 0 8px rgba(82,168,236,.6);
	box-shadow: inset 0 1px 3px rgba(0,0,0,.1), 0 0 8px rgba(82,168,236,.6);
	outline: 0;
}

/* For input sizes, make them display block */
.docs-input-sizes select,
.docs-input-sizes input[type=text] {
	display: block;
	margin-bottom: 9px;
}

/* Icons
------------------------- */
.the-icons {
	margin-left: 0;
	list-style: none;
}
.the-icons li {
	float: left;
	width: 25%;
	line-height: 25px;
}
.the-icons i:hover {
	background-color: rgba(255,0,0,.25);
}

/* Responsive docs
-------------------------------------------------- */

/* Utility classes table
------------------------- */
.responsive-utilities th small {
	display: block;
	font-weight: normal;
	color: #999;
}
.responsive-utilities tbody th {
	font-weight: normal;
}
.responsive-utilities td {
	text-align: center;
}
.responsive-utilities td.is-visible {
	color: #468847;
	background-color: #dff0d8 !important;
}
.responsive-utilities td.is-hidden {
	color: #ccc;
	background-color: #f9f9f9 !important;
}

/* Responsive tests
------------------------- */
.responsive-utilities-test {
	margin-top: 5px;
	margin-left: 0;
	list-style: none;
	overflow: hidden; /* clear floats */
}
.responsive-utilities-test li {
	position: relative;
	float: left;
	width: 25%;
	height: 43px;
	font-size: 14px;
	font-weight: bold;
	line-height: 43px;
	color: #999;
	text-align: center;
	border: 1px solid #ddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.responsive-utilities-test li + li {
	margin-left: 10px;
}
.responsive-utilities-test span {
	position: absolute;
	top:    -1px;
	left:   -1px;
	right:  -1px;
	bottom: -1px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.responsive-utilities-test span {
	color: #468847;
	background-color: #dff0d8;
	border: 1px solid #d6e9c6;
}



/* Sidenav for Docs
-------------------------------------------------- */

.bs-docs-sidenav {
	width: 228px;
	margin: 0;
	padding: 0;
	background-color: #fff;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
	box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.bs-docs-sidenav > li > a {
	display: block;
	width: 190px \9;
	margin: 0 0 -1px;
	padding: 8px 14px;
	border: 1px solid #e5e5e5;
}
.bs-docs-sidenav > li:first-child > a {
	-webkit-border-radius: 6px 6px 0 0;
	-moz-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
}
.bs-docs-sidenav > li:last-child > a {
	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
}
.bs-docs-sidenav > .active > a {
	position: relative;
	z-index: 2;
	padding: 9px 15px;
	border: 0;
	text-shadow: 0 1px 0 rgba(0,0,0,.15);
	-webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
	-moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
	box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}
/* Chevrons */
.bs-docs-sidenav .icon-chevron-right {
	float: right;
	margin-top: 0;
	margin-right: -6px;
	opacity: .25;
}
.bs-docs-sidenav > li > a:hover {
	background-color: #f5f5f5;
}
.bs-docs-sidenav a:hover .icon-chevron-right {
	opacity: .5;
}
.bs-docs-sidenav .active .icon-chevron-right,
.bs-docs-sidenav .active a:hover .icon-chevron-right {
	background-image: url(http://tubelivery.com/wp-content/themes/cyberchimps/cyberchimps/lib/bootstrap/img/glyphicons-halflings-white.png);
	opacity: 1;
}
.bs-docs-sidenav.affix {
	top: 40px;
}
.bs-docs-sidenav.affix-bottom {
	position: absolute;
	top: auto;
	bottom: 270px;
}
.bs-docs-sidenav h3{
	margin: 0 10px;
}




/* Responsive
-------------------------------------------------- */

/* Desktop large
------------------------- */
@media (min-width: 1200px) {
	.bs-docs-container {
		max-width: 970px;
	}
	.bs-docs-sidenav {
		width: 258px;
	}
	.bs-docs-sidenav > li > a {
		width: 230px \9; /* Override the previous IE8-9 hack */
	}
}

/* Desktop
------------------------- */
@media (max-width: 980px) {
	/* Unfloat brand */
	body > .navbar-fixed-top .brand {
		float: left;
		margin-left: 0;
		padding-left: 10px;
		padding-right: 10px;
	}
	body{
		padding-bottom: 0;
	}
	.navbar-fixed-bottom {
		position: relative;
	}

	/* Inline-block quick links for more spacing */
	.quick-links li {
		display: inline-block;
		margin: 5px;
	}

	/* When affixed, space properly */
	.bs-docs-sidenav {
		top: 0;
		width: 218px;
		margin-right: 0;
	}
}

/* Tablet to desktop
------------------------- */
@media (min-width: 768px) and (max-width: 979px) {
	/* Remove any padding from the body */
	body {
		padding-top: 0;
		padding-bottom: 0;
	}
	/* Widen masthead and social buttons to fill body padding */
	.jumbotron {
		margin-top: -20px; /* Offset bottom margin on .navbar */
	}
	/* Adjust sidenav width */
	.bs-docs-sidenav {
		width: 166px;
	}
	.bs-docs-sidenav.affix {
		top: 0;
	}
}

/* Tablet
------------------------- */
@media (max-width: 767px) {
	/* Remove any padding from the body */
	body {
		padding-top: 0;
		padding-bottom: 0;
	}

	/* Widen masthead and social buttons to fill body padding */
	.jumbotron {
		padding: 40px 20px;
		margin-top:   -20px; /* Offset bottom margin on .navbar */
		margin-right: -20px;
		margin-left:  -20px;
	}
	.masthead h1 {
		font-size: 90px;
	}
	.masthead p,
	.masthead .btn {
		font-size: 24px;
	}
	.marketing .span4 {
		margin-bottom: 40px;
	}
	.bs-docs-social {
		margin: 0 -20px;
	}

	/* Space out the show-grid examples */
	.show-grid [class*="span"] {
		margin-bottom: 5px;
	}

	/* Sidenav */
	.bs-docs-sidenav {
		width: auto;
		margin-bottom: 20px;
	}
	.bs-docs-sidenav.affix {
		position: static;
		width: auto;
		top: 0;
	}

	/* Unfloat the back to top link in footer */
	.footer {
		/*margin-left: -20px;*/
		/*margin-right: -20px;*/
		/*padding-left: 20px;*/
		/*padding-right: 20px;*/
	}
	.footer p {
		margin-bottom: 9px;
	}
}

/* Landscape phones
------------------------- */
@media (max-width: 480px) {
	/* Remove padding above jumbotron */
	body {
		padding-top: 0;
		padding-bottom: 0;
	}

	/* Change up some type stuff */
	h2 small {
		display: block;
	}

	/* Downsize the jumbotrons */
	.jumbotron h1 {
		font-size: 45px;
	}
	.jumbotron p,
	.jumbotron .btn {
		font-size: 18px;
	}
	.jumbotron .btn {
		display: block;
		margin: 0 auto;
	}

	/* center align subhead text like the masthead */
	.subhead h1,
	.subhead p {
		text-align: center;
	}

	/* Marketing on home */
	.marketing h1 {
		font-size: 30px;
	}
	.marketing-byline {
		font-size: 18px;
	}

	/* center example sites */
	.example-sites {
		margin-left: 0;
	}
	.example-sites > li {
		float: none;
		display: block;
		max-width: 280px;
		margin: 0 auto 18px;
		text-align: center;
	}
	.example-sites .thumbnail > img {
		max-width: 270px;
	}

	/* Do our best to make tables work in narrow viewports */
	table code {
		white-space: normal;
		word-wrap: break-word;
		word-break: break-all;
	}

	/* Examples: dropdowns */
	.bs-docs-example-submenus > .pull-left {
		float: none;
		clear: both;
	}
	.bs-docs-example-submenus > .pull-left,
	.bs-docs-example-submenus > .pull-left + .pull-left {
		margin-left: 0;
	}
	.bs-docs-example-submenus p {
		margin-bottom: 0;
	}
	.bs-docs-example-submenus .dropup > .dropdown-menu,
	.bs-docs-example-submenus .dropdown > .dropdown-menu {
		margin-bottom: 10px;
		float: none;
		max-width: 180px;
	}

	/* Examples: modal */
	.modal-example .modal {
		position: relative;
		top: auto;
		right: auto;
		bottom: auto;
		left: auto;
	}

	/* Tighten up footer */
	.footer {
		/*padding-top: 20px;*/
		/*padding-bottom: 20px;*/
	}
}

.navbar .nav > .current_page_item > a{
	color: #555555;
	text-decoration: none;
	background-color: #e5e5e5;
	-webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
	-moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
	box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}

.alert-info p, .alert-error p{
	margin: 3px;
}

#add-channel-form{
	padding: 15px 15px 0 15px;
}

@media (min-width: 768px){
	#channel-left-content{
		border-right-style: solid;
		border-right-width: 1px;
		border-right-color: #cccccc;
		min-height: 300px;
	}
	#channel-actions div{
		border-right-style: solid;
	}
}
@media (max-width: 767px){
	#channel-left-content{
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-bottom-color: #cccccc;
		margin-bottom: 15px;
	}
	#channel-label{
		padding-bottom: 15px;
	}
	#channel-actions div{
		border-bottom-style: solid;
	}
}
#channel-left-content{
	text-align: center;
}
#channel-numbers{

}

#channel-label{
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #cccccc;
	margin-bottom: 15px;
	color: #666666;
	text-align: left;
}

#channel-actions div{
	text-align: center;
	border-width: 1px;
	border-color: #cccccc;
	padding-top: 6px;
	margin-top: 5px;
	margin-bottom: 5px;
}
#channel-actions{
	margin-top: 15px;
	margin-bottom: 0;
}

#channel-actions div.last-action{
	border-style:none;

}

.form-auth {
	max-width: 300px;
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-auth .form-auth-heading,
.form-auth .checkbox {
	margin-bottom: 10px;
}
.form-auth input[type="text"],
.form-auth input[type="password"] {
	font-size: 16px;
	height: auto;
	margin-bottom: 15px;
	padding: 7px 9px;
}
.mixpanel-badge{
	float: left;
	position: absolute;
	bottom: 8px;
	left: 8px;
}
.enter-form-center{
	text-align: center;

}
p.enter-form-center{
	padding-top: 10px;
}
.quality-toggle{
	padding-bottom: 10px;
}
.channel-image{
	padding: 0 15px 10px 15px;
}
.account-detail{
	width: 60px;
}
.fade {
	opacity: 0;
	-webkit-transition: opacity 0.15s linear;
	-moz-transition: opacity 0.15s linear;
	-o-transition: opacity 0.15s linear;
	transition: opacity 0.15s linear;
}
.fade.in {
	opacity: 1;
}
#fade-alert{
	top: 40%;
	position: fixed;
	z-index: 1000;
	width: 48.93617021276595%;
	margin-left: 17.12707182320442%;
}